//
// Bell icon
//

.icon-bell {
  // position: absolute;
  // top: 50%;
  // margin-top: -50px;

  .crown {
    fill: none;
    stroke: #AA9A3E;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

  .clapper {
    fill: #AA9A3E;
  }

  .bell-right {
    fill: #E2CD52;
  }

  .bell-left {
    fill: #FFEC5A;
  }

  .group-clapper {
    -webkit-transform: translateX(0px);
  }

  .group-bell {
    -webkit-transform: rotate(0);
  }
}

@-webkit-keyframes clapper-ring {
  0% { -webkit-transform: translateX(3px); }
  100% { -webkit-transform: translateX(-3px); }
}

@-webkit-keyframes clapper-ring2 {
  0% { -webkit-transform: rotate(0); }
  1% { -webkit-transform: rotate(30deg) translateX(3px); }
  3% { -webkit-transform: rotate(-28deg) translateX(-3px); }
  5% { -webkit-transform: rotate(34deg) translateX(3px); }
  7% { -webkit-transform: rotate(-32deg) translateX(-3px); }
  9% { -webkit-transform: rotate(30deg) translateX(3px); }
  11% { -webkit-transform: rotate(-28deg) translateX(-3px); }
  13% { -webkit-transform: rotate(26deg) translateX(3px); }
  15% { -webkit-transform: rotate(-24deg) translateX(-3px); }
  17% { -webkit-transform: rotate(22deg) translateX(3px); }
  19% { -webkit-transform: rotate(-20deg) translateX(-3px); }
  21% { -webkit-transform: rotate(18deg) translateX(3px); }
  23% { -webkit-transform: rotate(-16deg) translateX(-3px); }
  25% { -webkit-transform: rotate(14deg) translateX(3px); }
  27% { -webkit-transform: rotate(-12deg) translateX(-3px); }
  29% { -webkit-transform: rotate(10deg) translateX(3px); }
  31% { -webkit-transform: rotate(-8deg) translateX(-3px); }
  33% { -webkit-transform: rotate(6deg) translateX(3px); }
  35% { -webkit-transform: rotate(-4deg) translateX(-3px); }
  37% { -webkit-transform: rotate(2deg) translateX(3px); }
  39% { -webkit-transform: rotate(-1deg) translateX(-3px); }
  41% { -webkit-transform: rotate(1deg) translateX(3px); }
  43% { -webkit-transform: rotate(0); }
  100% { -webkit-transform: rotate(0); }
}

@-webkit-keyframes bell-ring2 {
  0% { -webkit-transform: rotate(0); }
  1% { -webkit-transform: rotate(30deg); }
  3% { -webkit-transform: rotate(-28deg); }
  5% { -webkit-transform: rotate(34deg); }
  7% { -webkit-transform: rotate(-32deg); }
  9% { -webkit-transform: rotate(30deg); }
  11% { -webkit-transform: rotate(-28deg); }
  13% { -webkit-transform: rotate(26deg); }
  15% { -webkit-transform: rotate(-24deg); }
  17% { -webkit-transform: rotate(22deg); }
  19% { -webkit-transform: rotate(-20deg); }
  21% { -webkit-transform: rotate(18deg); }
  23% { -webkit-transform: rotate(-16deg); }
  25% { -webkit-transform: rotate(14deg); }
  27% { -webkit-transform: rotate(-12deg); }
  29% { -webkit-transform: rotate(10deg); }
  31% { -webkit-transform: rotate(-8deg); }
  33% { -webkit-transform: rotate(6deg); }
  35% { -webkit-transform: rotate(-4deg); }
  37% { -webkit-transform: rotate(2deg); }
  39% { -webkit-transform: rotate(-1deg); }
  41% { -webkit-transform: rotate(1deg); }
  43% { -webkit-transform: rotate(0); }
  100% { -webkit-transform: rotate(0); }
}

@-webkit-keyframes bell-ring {
  0% { -webkit-transform: rotate(27deg); }
  100% { -webkit-transform: rotate(-27deg); }
}

.icon-bell:hover .group-bell {
  -webkit-animation: bell-ring2 8s 0s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
}
.icon-bell:hover .group-clapper {
  -webkit-animation: clapper-ring2 8s 0s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
}

//
// Compass icon
//

.icon-compass {
  .dial {
    clip-rule: evenodd;
    fill-rule: evenodd;
    fill: #F0C400;
  }

  .housing {
    clip-rule: evenodd;
    fill-rule: evenodd;
    fill: #F8F8F8;
  }

  .needle-base-outer,
  .needle-base-inner,
  .declination-mark {
    clip-rule: evenodd;
    fill-rule: evenodd;
    fill: #BABABA;
  }

  .needle-screw {
    clip-rule: evenodd;
    fill-rule: evenodd;
    fill: #424649;
  }

  .needle-south {
    clip-rule: evenodd;
    fill-rule: evenodd;
    fill: #109CAC;
  }
  .needle-north {
    clip-rule: evenodd;
    fill-rule: evenodd;
    fill: #F15E29;
  }

  .group-needle {
    -webkit-transform: translate(80px, 80px);
    -moz-transform: translate(80px, 80px);
    transform: translate(80px, 80px);
  }
  .group-needle-animation > *{
    -webkit-transform: translate(-80px, -80px);
    -moz-transform: translate(-80px, -80px);
    transform: translate(-80px, -80px);

    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}

.icon-compass:hover .group-needle-animation {
  -webkit-animation: compass-needle-spin 8s 0s ease infinite;
  -moz-animation: compass-needle-spin 8s 0s ease infinite;
  animation: compass-needle-spin 8s 0s ease infinite;
}

@-webkit-keyframes compass-needle-spin {
  0% { -webkit-transform: rotate(0); }
  10% { -webkit-transform: rotate(720deg); }
  35% { -webkit-transform: rotate(30deg); }
  47% { -webkit-transform: rotate(55deg); }
  55% { -webkit-transform: rotate(40deg); }
  63% { -webkit-transform: rotate(50deg); }
  71% { -webkit-transform: rotate(42deg); }
  78% { -webkit-transform: rotate(47deg); }
  82% { -webkit-transform: rotate(45deg); }
  100% { -webkit-transform: rotate(45deg); }
}

@-moz-keyframes compass-needle-spin {
  0% { -moz-transform: rotate(0); }
  10% { -moz-transform: rotate(720deg); }
  35% { -moz-transform: rotate(30deg); }
  47% { -moz-transform: rotate(55deg); }
  55% { -moz-transform: rotate(40deg); }
  63% { -moz-transform: rotate(50deg); }
  71% { -moz-transform: rotate(42deg); }
  78% { -moz-transform: rotate(47deg); }
  82% { -moz-transform: rotate(45deg); }
  100% { -moz-transform: rotate(45deg); }
}

@keyframes compass-needle-spin {
  0% { transform: rotate(0); }
  10% { transform: rotate(720deg); }
  35% { transform: rotate(30deg); }
  47% { transform: rotate(55deg); }
  55% { transform: rotate(40deg); }
  63% { transform: rotate(50deg); }
  71% { transform: rotate(42deg); }
  78% { transform: rotate(47deg); }
  82% { transform: rotate(45deg); }
  100% { transform: rotate(45deg); }
}


//
// Home icon
//

.icon-home {
  .roof-left {
    fill: #F15E29;
  }

  .wall-left {
    fill: #F8F8F8;
  }

  .house-shadow {
    fill: #231F20;
    opacity: 0.2;
  }

  .window {
    fill: #109CAC;
  }

  .door {
    fill: #C87229;
  }

  .chimney {
    fill: #F15E29;
  }

  .door-shadow {
    fill: #231F20;
    opacity: 0.3;
  }

  .roof-shadow,
  .chimney-shadow,
  .window-shadow {
    fill: #231F20;
    opacity: 0.3;
  }

  .door-knob {
    fill: #8F5322;
  }

  .house-shadow-overlay {
    fill: #231F20;
    opacity: 0.1;
  }
}

@-webkit-keyframes open-door {
  0% { -webkit-transform: rotateY(0deg); }
  100% { -webkit-transform: rotateY(90deg); }
}

.icon-home:hover .group-door {
  -webkit-animation: open-door 1s ease-in-out;
  -webkit-transform-origin: 5% 0;
}


//
// Newspaper icon
//

.icon-newspaper {
  .newspaper-bg {
    fill: #F8F8F8;
  }
  .newspaper-bg-overlay {
    fill: #EAEAEA;
  }

  .newspaper-title {
    fill: #484747;
    fill-rule: evenodd;
    clip-rule: evenodd;
  }

  .newspaper-content {
    fill: #BABABA;
    fill-rule: evenodd;
    clip-rule: evenodd;
  }

  #page-one-left .newspaper-heading {
    fill: #F15E29;
  }
  #page-two-left .newspaper-heading {
    fill: #109CAC;
  }
  #page-three-left .newspaper-heading {
    fill: #7AB057;
  }

  #page-one-right .newspaper-heading {
    fill: #E3451F;
  }
  #page-two-right .newspaper-heading {
    fill: #0D8D92;
  }
  #page-three-right .newspaper-heading {
    fill: #65A43E;
  }

  #page-one-left,
  #page-one-right,
  #page-two-left,
  #page-two-right,
  #page-three-left,
  #page-three-right {
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform, visibility;
    -moz-transition-property: -moz-transform, visibility;
    transition-property: transform, visibility;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: rotateY(0deg);
  }
  #page-two-left,
  #page-three-left {
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: rotateY(-90deg);
  }
}

@-webkit-keyframes page-right {
  0% { -webkit-transform: rotateY(0deg); visibility: visible; }
  100% { -webkit-transform: rotateY(90deg); visibility: visible; }
}

@-webkit-keyframes page-left {
  0% {
      -webkit-transform: rotateY(-90deg);
      visibility: visible;
  }
  100% {
      -webkit-transform: rotateY(0deg);
      visibility: visible;
  }
}

@-webkit-keyframes newspaper-spin {
  0% {
      -webkit-transform: scale(0.2) rotate(0deg);
  }
  100% {
      -webkit-transform: scale(1) rotate(1440deg);
  }
}

/* .icon-home:hover #page-one-right {
  -webkit-animation: page-right 1s 0 ease-in-out;
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
  -webkit-animation-fill-mode: forwards;
}
.icon-home:hover #page-two-left {
  -webkit-animation: page-left 1s .8s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
}

.icon-home:hover #page-two-right {
  -webkit-animation: page-right 1s 1.5s ease-in-out;
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
  -webkit-animation-fill-mode: forwards;
}
.icon-home:hover #page-three-left {
  -webkit-animation: page-left 1s 2.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
}
*/
.icon-newspaper:hover {
  -webkit-animation: newspaper-spin 1s ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
}


//
// Settings icon
//

.icon-settings {
  margin-top: 25px;

  .right-tip-one,
  .right-tip-two,
  .right-tip-three {
    fill: #C6C4C3;
  }

  .right-outer {
    fill: #C6C4C3;
  }
  .right-outer-shadow {
    fill: #231F20;
    opacity: 0.1;
  }

  .left-outer {
    fill: #C6C4C3;
  }

  .left-inner {
    fill: #C6C4C3;
  }
  .left-inner-shadow {
    fill: #231F20;
    opacity: 0.1;
  }
}

.icon-settings:hover {}